*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.imghero{
    width: 600px;
    height: fit-content;
}

.keterangan{
    font-size: 14px;
    line-height: 20px;
}

.list-data{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.bg-icon{
    width: 24px;
    height: 24px;
    background-color: #CFD4ED;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.text-item{
    margin: 0;
    padding: 0;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica', sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
    

}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #000963;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top:0;
    background: #ffffff;
    z-index: 1;
    border-bottom : 1px solid #3E54AC;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none; 
}

nav ul li a:hover{
    text-decoration: underline;
}

section{
    margin: auto;
    display: flex;
    margin-top: 50px;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi{
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #2B3467;
}

h2{
    font-family: 'comic sans ms';
    font-weight: 800px;
    font-size: 45px;
    margin-bottom: 20px;
    color: #2B3467;
    width: 100%;
    line-height:50px;
}

a.tbl-hijau{
    background: #5CB85F;
    border-radius: 20px;
    margin-top: 20px ;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-hijau:hover{
    background: #2B3467;
    text-decoration: none;
}

a.tbl-hijau{
    background: #5CB85F;
    border-radius: 20px;
    margin-top: 20px ;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold; 
}

a.tbl-hijau:hover{
    background: #2B3467;
    text-decoration:none ;
}

p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.container{
    width: 100%;
    height: auto;
    background: #ffffff;

    /*add flaxbox style*/

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.box {
    width: 20%;
    height: 300px;
    background: #fff;
    margin: 20px;
    box-sizing: border-box;
    font-size: 35px;
    color: aliceblue;
    font-family: 'comic sans ms';
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    padding: 20px;
}

@media screen and (max-width:1200px) {
    .box{
        width: 40%;
    }    
}

@media screen and (max-width:600px) {
    .box{
        width: 90%;
    }    
}

.tengah{
    text-align: center;
    width: 100%;
}

.tutor-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor{
    width: 20%;
    margin: 0 auto;

}

.kartu-tutor img{
    width: 80%;
    border-radius: 50%;
}

.kartu-tutor p{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #2B3467;
}

.partner-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner{
    width: 20%;
    margin: 0 auto;
}

.kartu-partner img {
    width: 150px;
    border-radius: 50%;
}

#contact{
    background: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section{
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color:black;
    width: 100%;
    line-height: 50px;
}

h4 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color:white;
    width: 100%;
    line-height: 50px;
}

.isian{
    font-family: 'comic sans ms';
    font-size: x-small;
}
.info{
    width: 100%;
    height: auto;
    background:#0D28A6;
    padding: 60px;
    
}
h5 {
    font-family: 'comic sans ms';
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
    color:black;
    line-height: 25px;
}



#copyright{
    text-align: center;
    width: 100%;
    padding: 40px 0px 40px 0px;
    margin-top: 40px;

}

@media screen and (max-width:991.98px){
    .wrapper{
        width: 90%;
    }
    .logo a{
        display: block;
        width: 100%;
        text-align: center;
    }
    nav .menu{
        width: 100%;
        margin: 0;
    }
    nav .menu ul{
        text-align: center;
        margin: auto;
        line-height: 60px;
    }
    nav .menu ul li{
        display: inline-block;
        float: none;
    }

    section{
        display: block;
    }

    section img{
        display: block;
        width: 100%;
        height: auto;
    }
    .kartu-tutor {
        width: 50%;
    }
    .kartu-partner{
        width: 50%;
    }
}